body{
    background-color: #FFF8E8;
}
.register-section{
    background-image: url("../images/image\ 4.png"); 
    background-position: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    aspect-ratio: 2/1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-blend-mode: darken;
    background-color: rgba(0, 0,0, 0.6);
    position: relative;
}
.register{
    padding: 1rem 1.5rem;
    background-color:transparent;
    border: none;
    font-size: 1rem;
    margin: 2rem auto;
    color: aliceblue;
    cursor: pointer;
    border-radius:3rem;
    transition: all 0.5s ease-in;
    /* position: relative; */
    border: 2px solid var(--transparent);
}
.register:hover{
   color: black;
   box-shadow: 5px 5px 5px #888;
}
/* .topdown:hover .more{
    transform: translateY(0px);
    gap: 2rem;
    z-index: -1;
} */
.register-section-heading h3{
   font-size: 3.5rem;
   color:var(--main-color);
   text-align: center;
}
/* .register-section{
    z-index:-1
} */
.dropdown:hover .main-contemt{
    position: relative;
    z-index: -1;
}
.more:hover .next{
    z-index:-1;
}
.prev,.next{
    position: absolute;
    background-color:rgba(0, 0,0, 0.2);
    /* backdrop-filter: blur(6px); */
    /* opacity: 0.2; */
    color: var(--main-color);
    padding:1.5rem;
    cursor:pointer;
    top:30%;
}
.prev{
    left:0%;
}
.next{
    right:0%;
}
.timmer{
    margin:6rem 0rem 0rem;
    background-color: #FFF;
}
.timer{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin:3rem auto;
    /* box-shadow: var(--boxshadow); */
    width: 80%;
    gap: 1rem;
    padding: 0 0 3rem;
}
.background{
    background-color: #FFF;
    min-width: 20%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:2px solid blue; */
}
.background h3{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 3rem;
/* line-height: 175px; */
animation: timmer 1s linear infinite alternate;
}
@keyframes timmer{
    from{
        transform: translateY(1rem);
    }
    to{
        transform: translateY(0rem);
    }
}
.background p{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 2.3rem;
/* line-height: 175px; */
}
.avk-2k22-logo{
    width: 30rem;
    padding:3rem 0;
}
.avk-2k22-logo img{
    width: inherit;
}
.backgroundc{
    color: #000;
}
.about{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    /* box-shadow: var(--boxshadow); */
    /* margin: 5rem 0rem; */
    gap:3rem;
    /* background-color: #000; */
}
.info{
    width: 50%;
    margin:0rem 0 6rem;
}
.info h3{
    margin:6rem 0 3rem;
    text-align: left;
    color: #000;
}
.gallery{
    display:block;
    margin: auto;
    max-width: 90%;
    background-image: none;
    /* margin:12rem 0rem; */
    /* background-color: ; */
}
.gallery-heading{
    color: #fff !important;;
    margin:2rem 0rem;
}
    
    .img-container{
    width: 94%;
    object-fit:cover;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.7rem;
    margin: 3rem auto;
    padding: 0 0 6rem;
}
.test{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:8rem;
    max-width:100%;
    margin: 3rem auto 0;
    /* background-color: black; */
}
.test-container{
    /* background-image:url("../images/web-1012467\ 2.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:-94px 0 2rem;
    background-color: blue;
}
.test-content{
    /* opacity:0.6; */
    background-color:var(--transparent);
    backdrop-filter: blur(10px);
    margin: 1rem 0rem 3rem;
    box-shadow: var(--boxshadow);
    border-radius: 5%;  
}
.test-content>h3{
    color: white;
    padding: 3rem 0 3rem 0;
}
.test-content>p{
    color: white;
    padding: 0.7rem 1rem 0.7rem;
}
.img{
    filter:grayscale(100%);
    cursor: pointer;
    margin: auto;
    transition: all 700ms ease-in-out ;
}
.img:hover{
    filter:grayscale(0%);
}
.logo-test{
    margin: 3rem auto 1rem;
    width: fit-content;
}
.test-img{
    border-radius: 50%;
    width: 72%;
    display: block;
    margin: auto;
}
.container_testimonials{
    /* max-width: 80%; */
    overflow-x: hidden;
    /* display: flex; */
    background-color:rgb(49 41 62); ;
    position: relative;
    /* margin: auto; */
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    justify-content: center;
    align-items: flex-end;
   overflow: hidden;
    margin: 3rem auto;
    width: 90%;
    position: relative;
}
.dots{
    position: absolute;
    display: flex;
    left:50%;
    /* top:0%; */
    gap: 1rem;
    justify-content: center;
    margin:0 0 1rem ;
}
.dots li{
    width: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
  background-color: #000;
}
.active{
    background-color:blue!important;
}
.testimonial{
    /* width: 27%; */
    background-color: #351736;;
}
.testimonial__details{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 3rem;
    margin: 2rem 0rem;
    /* padding: 1rem 0rem; */
}
.testimonial__text{
    font-size: 1.2rem;
    width: 90%;
    aspect-ratio: 3;
    margin: 1rem 1rem;
    color: #FFF8E8;
}
.testimonial__img{
    width:5rem;
}
.testimonial__img img{
    width: inherit;
    border-radius: 50%;
}

@media screen and (max-width:789px){
    .timer{
        /* flex-direction:column; */
        align-items: center;
        width: 60%;
        justify-content: center;
    }
    .register{
        z-index: 0;
        background-color: #888;
    }
    .about{
        flex-direction: column-reverse;
    }
    .avk-2k22-logo{
        width: 100%;
    }
    .info{
        width: 80%;
    }
    .info>h3{
        font-size: 3rem;
    }
    .background{
        /* background-color: #888;  */
    min-width: 25%;
         aspect-ratio: 1/2;
     /* width:0px; */
     gap: 2rem;
    }
    
    .background h3 {
       
        font-size: 3rem;
        line-height: 0;
    
    }
    .background p{
        font-size: 2rem;
    }
    .info>p{
        font-size: 2rem;
        
    }
    .register-section-heading h3{
        font-size: 2rem;
        color: var(--main-color);
        text-align: center;
        width: 77%;
        margin: auto;
    }
    .register-section{
        aspect-ratio: 0.6!important;
    }
    .z-index{
        z-index: -1;
    }
    .img-container{
        grid-template-columns: none;
        margin:0;
        width: 100%s;
        gap:4rem;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .test{
            flex-direction: column;
            max-width: 98%;
            gap: 6rem;
    }
    .main-heading{
     font-size: 2rem;
    }
    
    .prev{
        left:0%;
    }
    .next{
        right:0%;
    }
    .container_testimonials{
        max-width: 80%;
        margin: auto;
    }
}
@media screen and (max-width:900px){
    .register-section{
       aspect-ratio: 1;
    }
    .about{
        flex-direction: column-reverse;
    }
    .container{
        grid-template-columns: repeat(1,1fr);
    }
    
}